<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>MY HOME</h1>

<!-- using the below link to establish connection to the zoom -->

<a href="https://zoom.us/oauth/authorize?response_type=code&client_id=ksJ258wUS4u4NEaLVV5eNw&redirect_uri=https://f94959c13605.ngrok.io/zoom_return" target="_blank" rel="noopener noreferrer">
    <img src="https://marketplacecontent.zoom.us/zoom_marketplace/img/add_to_zoom.png" height="32" alt="Add to ZOOM" /></a>
</body>
</html>